
  <div class="logo">
    <a routerLink="">
      <img src="assets/images/interest-calculator-logo.webp" alt="MyCalc" class="img-responsive">
    </a>
  </div>

  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a routerLink="/register-user">Log in</a>
        </li>
        <li>
          <a routerLink="/calculator">Calculator</a>
         </li>
      </ul>
    </nav>
  </div>







<!-- <a routerLink="/register-user">Log in</a> -->


