<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
      <app-navbar></app-navbar>
  </aside>
      
  <div class="page-container">
     <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <app-header></app-header>
    </header>

      <!-- MAIN CONTENT-->
       
    <router-outlet></router-outlet>
  

    <app-offer-list></app-offer-list>
  </div>
</div>

<!-- FOOTER SECTION-->
 <app-footer></app-footer>














<!-- <app-navbar></app-navbar>
<app-header></app-header>

<div class="container mt-5">
  <p class="description">{{description}}</p>

 <div>
  <a routerLink="/calculator">Calculator</a>
 </div>

 <div>
  <router-outlet></router-outlet>
 </div>

<div>
    <app-offer-list></app-offer-list>
</div>

</div>



<app-footer></app-footer> -->




